:root {
  --red: #ec4c4c;
  --black: #343434;
  --blackDark: #2b2b2b;
}

body {
  box-sizing: border-box;
}

.wrapper {
  margin: 0 3vw;
  width: 94vw;
}

.banner {
  display: flex;
  width: 100%;
  transform: skew(20deg);
}

.logoSquare {
  background-color: var(--black);
  width: fit-content;

  display: block;
}

.logoSquare img {
  margin: 0 1vw;
  width: 15vh;
  transform: skew(-20deg);
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  height: 8vh;
  background-color: var(--black);
}

.menu a {
  height: 100%;
  width: 100%;
  display: flex;
  border-left: 5px solid var(--red);
  justify-content: center;
  align-items: center;
}

.menu a span {
  color: white;
  display: block;
  transform: skew(-20deg);
}

.banner a:hover {
  background-color: var(--blackDark);
  transition: 0.5s;
}
