:root {
  --red: #ec4c4c;
  --black: #343434;
  --blackDark: #2b2b2b;
  --blackRed: #b83939;
}

body {
  background-color: black;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 0 3vw;
  width: 94vw;
}

.banner {
  display: flex;
  width: 100%;
  transform: skew(20deg);
}

.logoSquare {
  background-color: var(--black);
  width: fit-content;

  display: block;
}

.logoSquare img {
  margin: 0 1vw;
  width: 15vh;
  transform: skew(-20deg);
}

.menu {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  height: 8vh;
  background-color: var(--black);
}

.menu a {
  height: 100%;
  width: 100%;
  display: flex;
  border-left: 5px solid var(--red);
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.menu a span {
  color: white;
  display: block;
  transform: skew(-20deg);
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1vw;
}

.banner a:hover {
  background-color: var(--blackDark);
  transition: 0.5s;
}

.searchSquare {
  justify-content: space-evenly;
  width: 100%;
  margin-top: 2vh;
  display: flex;
  height: 7vh;
  transform: skew(20deg);
}

.searchBar {
  width: 100%;
  background-color: var(--black);
  display: flex;
  align-items: center;
}

.searchBar input {
  width: 100%;
  margin: 0 2vw;
  padding: 0.2vw;
  transform: skew(-20deg);
  border: 3px solid var(--red);
  outline: none;
  font-size: 1rem;
}

.searchButton {
  width: 20vw;
  background-color: var(--red);
  cursor: pointer;
}

.searchButton:hover {
  background-color: var(--blackRed);
  transition: 0.5s;
}

.searchButton span {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1vw;
  color: white;
  transform: skew(-20deg);
}

main {
  display: flex;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
}

.animeContainer {
  width: min-content;
  display: flex;
  flex-direction: column;
  margin: 1vw;
  border: 2px solid var(--black);
  padding: 1vw;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
}

.animeContainer:hover {
  background-color: var(--blackDark);
  border-color: var(--red);
  color: white;
  transition: 0.3s;
}

.animeTitle {
  margin-top: 1vh;
}

.genres {
  width: 20%;
  margin-top: 1vw;
}

.genres span {
  display: block;
  background-color: var(--black);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1vw;
}

.genresContainer {
  display: flex;
  flex-direction: column;
}

.genre {
  margin-top: 1vh;
  background-color: var(--black);
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5vw;
  border-left: 5px solid var(--red);
  text-align: left;
  cursor: pointer;
}

.genre:hover {
  background-color: var(--blackDark);
  transition: 0.5s;
}

.registerContainer {
  background-color: var(--black);
  width: 100%;
  margin-top: 2vh;
}

.registerContainer h2 {
  color: white;
  border-bottom: 3px solid var(--red);
  margin: 2vw;
}

.registerContainer form {
  margin: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registerContainer h3 {
  text-align: center;
  color: white;
  border-bottom: 3px solid var(--red);
  margin: 2vh auto;
  padding: 0 1vw;
}

.avatars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.avatars [type='radio'] {
  width: 0;
  height: 0;
  opacity: 0;
}

.avatars img {
  width: 10vw;
  padding: 1vw;
  cursor: pointer;
  border: 2px solid black;
  opacity: 0.4;
}

.avatars img:hover {
  border: 2px solid var(--red);
  opacity: 1;
}

.avatars [type='radio']:checked + img {
  border: 2px solid var(--red);
  opacity: 1;
}

.registerContainer form div:not(.avatars) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.registerContainer form [type='text'] {
  border: 3px solid var(--red);
  outline: none;
  font-size: 1rem;
  padding: 0.2vw;
}
